
<header>
  <div class="brand"><a href="#"><img src="" alt=""></a></div>
<!-- <div class="search-box">
<input type="text" value="" placeholder="Search">
</div> -->
  <div class="top-nav">
    <ul>
      <li><i class="fa fa-user-circle-o mr-1" aria-hidden="true"></i> Hi </li>
      <!-- <li><button class="btn btn-icon btn-transparent " type="button"><i class="fa fa-envelope" aria-hidden="true"></i></button><span class="counter">25</span></li>
      <li><button class="btn btn-icon btn-transparent " type="button"><i class="fa fa-bell" aria-hidden="true"></i></button><span class="counter">22</span></li> -->
      <li>
        <div class="">
          <button class="btn btn-icon btn-transparent " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>

          <div class="dropdown-menu">
            <a class="dropdown-item" id="change_password" href="javascript:void(0);">Change Password</a>
            <a class="dropdown-item" id="logout" href="javascript:void(0);">Log out</a>
            
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>