<section class="left-part">
    <div class="mCustomScrollbar content fluid light" data-mcs-theme="inset-2-dark">
      <ul>
        <li class="active">
          <a href="#" class=" waves-effect waves-light menu-left-btn">Supplier</a>
          <ul>
              <li class="active"><a [routerLink]="['/supplier','list']" class=" active waves-effect waves-light menu-left-btn"> View Supplier</a></li>
          </ul> 
        </li>
        <li ><a href="#" class="waves-effect waves-light menu-left-btn">Dashboard</a></li>
        <li ><a href="#" class="waves-effect waves-light menu-left-btn">Dashboard</a></li>
        <li ><a href="#" class="waves-effect waves-light menu-left-btn">Dashboard</a></li>
        <li ><a href="#" class="waves-effect waves-light menu-left-btn">Dashboard</a></li>
        
      </ul>
    </div>
  </section>
